<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="Estilos.css">

    <script>
        var app = angular.module("Gym", []);
        app.controller("controlador", function ($scope, $http, $compile) {
            $scope.listado = function () {
                $http.get("http://localhost:8866/Listar").then(function (response) {
                    $scope.socios = response.data;
                    $scope.calcularTotalcito();
                });
            }

            $scope.calcularTotalcito = function () {
                $scope.totalcito = 0;
                for (var i = 0; i < $scope.socios.length; i++) {
                    $scope.totalcito += $scope.socios[i].Total;
                }
            }

            $scope.edicion = function (ind) {
                var modalcito2 = document.getElementById("modalcito2");
                document.getElementById("soc2").innerHTML = $scope.socios[ind].Apellido;
                $scope.tempDias = $scope.socios[ind].Dias;
                $scope.tempCosto = $scope.socios[ind].Costo;
                modalcito2.style.display = "block";
                indiEdit = ind;
            }

            $scope.ocultar2 = function () {
                document.getElementById("modalcito2").style.display = "none";
            }

            $scope.ocultar = function () {
                document.getElementById("modalcito").style.display = "none";
            }

            $scope.verifi = function () {
                msj2 = document.getElementById("msj2");
                i1 = false; i2 = false; i3 = false;
                if ($scope.tempDias === null) {
                    msj2.insertAdjacentHTML('beforeend', '<span style="color: red;"> Faltan datos en Dias al mes </span> <br>');
                    document.getElementById("tempDias").style.backgroundColor = 'lightcoral';
                }
                if ($scope.tempCosto === null) {
                    msj2.insertAdjacentHTML('beforeend', '<span style="color: red;"> Faltan datos en Costo Diario </span> <br>');
                    document.getElementById("tempCosto").style.backgroundColor = 'lightcoral';
                } else {

                    if (esEntero($scope.tempDias) && $scope.tempDias > 0 && $scope.tempDias < 32) {
                        msj2.insertAdjacentHTML('beforeend', '<span style="color: red;"> La cantidad de dias debe ser un número entero, entre 1 y 31 </span> <br>');
                        document.getElementById("tempDias").style.backgroundColor = 'lightcoral';
                        setTimeout(function () { msj2.innerHTML = ''; document.getElementById("tempDias").style.backgroundColor = 'white'; document.getElementById("tempCosto").style.backgroundColor = 'white'; }, 5000);
                    } else {
                        i1 = true;
                    }

                    if (esEntero($scope.tempCosto) && $scope.tempCosto > 0) {
                        msj2.insertAdjacentHTML('beforeend', '<span style="color: red;"> El Costo Diario debe ser un número entero mayor a cero </span> <br>');
                        document.getElementById("tempCosto").style.backgroundColor = 'lightcoral';
                        setTimeout(function () { msj2.innerHTML = ''; document.getElementById("tempDias").style.backgroundColor = 'white'; document.getElementById("tempCosto").style.backgroundColor = 'white'; }, 5000);
                    } else {
                        i2 = true;
                    }

                    if (i1 === true && i2 === true) {
                        msj2.insertAdjacentHTML('beforeend', '<span style="color: green;"> Los campos son correctos, presione Aceptar </span> <br>');
                        setTimeout(function () { msj2.innerHTML = ''; document.getElementById("tempDias").style.backgroundColor = 'white'; document.getElementById("tempCosto").style.backgroundColor = 'white'; }, 5000);
                        i3 = true;
                    }

                    if (i3 === true) {
                        document.getElementById("aceptar2").disabled = false;
                    } else {
                        document.getElementById("aceptar2").disabled = true;
                    }
                }
            }

            $scope.aceptar2 = function () {
                $scope.socios[indiEdit].Dias = $scope.tempDias;
                $scope.socios[indiEdit].Costo = $scope.tempCosto;

                tota = $scope.tempCosto * $scope.tempDias;
                if (tota >= 1600) {
                    tota = tota - tota * 0.3;
                } else if (tota >= 1200) {
                    tota = tota - tota * 0.2;
                } // ver como le hago el descuento con mas de una actividad

                $scope.socios[indiEdit].Total = tota;
                $scope.tempTotal = tota;
                $scope.tempDNI = $scope.socios[indiEdit].DNI;
                $scope.tempActi = $scope.socios[indiEdit].Actividad;

                $http.get("http://localhost:8866/Actualizar/?tempDias=" + $scope.tempDias + "&tempCosto=" + $scope.tempCosto + "&tempTotal=" + $scope.tempTotal +
                    "&tempDNI=" + $scope.tempDNI + "&tempActi=" + $scope.tempActi).then(function (response) {
                        $scope.socios = response.data;
                        $scope.calcularTotalcito();
                    });

                $scope.ocultar2();
            }

            $scope.borrar = function (indi) {
                var modalcito = document.getElementById("modalcito");
                document.getElementById("s").innerHTML = $scope.socios[indi].Apellido;
                document.getElementById("a").innerHTML = $scope.socios[indi].Actividad;
                modalcito.style.display = "block";
                indiborrar = indi;
            }

            $scope.aceptar = function () {
                $http.get("http://localhost:8866/Borrar/?dni=" + $scope.socios[indiborrar].DNI + "&actividad=" + $scope.socios[indiborrar].Actividad).then(
                    function (response) {
                        $scope.socios = response.data;
                        $scope.calcularTotalcito();
                    }
                );
                $scope.ocultar();
            }

            $scope.registrar = function () {
                msj = document.getElementById("msj");
                msj.innerHTML = '';
                msj.style.display = 'none';

                ape = document.getElementById("ape");
                dni = document.getElementById("dni");
                dia = document.getElementById("dias");
                cost = document.getElementById("costo");

                var socioTemp = { Apellido: '', DNI: '', Actividad: '', Dias: 0, Costo: 0, Total: 0 }

                if ($scope.ape === undefined) {
                    msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> Faltan datos en Apellido </span> <br>');
                    msj.style.display = 'block';
                    ape.style.backgroundColor = 'lightcoral';
                }
                if ($scope.dni === undefined) {
                    msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> Faltan datos en DNI </span> <br>');
                    msj.style.display = 'block';
                    dni.style.backgroundColor = 'lightcoral';
                }
                if ($scope.dias === undefined) {
                    msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> Faltan datos en Dias al mes </span> <br>');
                    msj.style.display = 'block';
                    dia.style.backgroundColor = 'lightcoral';
                }
                if ($scope.costo === undefined) {
                    msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> Faltan datos en Costo Diario </span> <br>');
                    msj.style.display = 'block';
                    cost.style.backgroundColor = 'lightcoral';
                } else {

                    if (ape.value.length < 3) {
                        msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> El Apellido debe tener más de 3 carácteres </span> <br>');
                        msj.style.display = 'block';
                        ape.style.backgroundColor = 'lightcoral';
                    } else {
                        socioTemp.Apellido = $scope.ape;
                    }

                    var aux = dni.value.split(".");
                    if (aux.length < 3) {
                        msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> El DNI es Invalido (formato = 00.000.000) </span> <br>');
                        msj.style.display = 'block';
                        dni.style.backgroundColor = 'lightcoral';
                    } else {
                        socioTemp.DNI = aux.join(".");
                    }

                    socioTemp.Actividad = $scope.actividad;

                    if (esEntero($scope.dias) && !($scope.dias > 0) && !($scope.dias < 32)) {
                        msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> La cantidad de dias debe ser un número entero entre 1 y 31 </span> <br>');
                        msj.style.display = 'block';
                        dia.style.backgroundColor = 'lightcoral';
                    } else {
                        socioTemp.Dias = $scope.dias;
                    }

                    if (esEntero($scope.costo) && !($scope.costo > 0)) {
                        msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> El Costo Diario debe ser un número entero mayor a 0 </span> <br>');
                        msj.style.display = 'block';
                        cost.style.backgroundColor = 'lightcoral';
                    } else {
                        socioTemp.Costo = $scope.costo;
                    }

                    if (msj.style.display === 'block') { $scope.limpiar(); setTimeout(function () { msj.style.display = 'none'; }, 5000); return; }

                    var tot = $scope.dias * $scope.costo;
                    if (tot >= 1600) {
                        tot = tot - tot * 0.3;
                    } else if (tot >= 1200) {
                        tot = tot - tot * 0.2;
                    }

                    for (var k = 0; k < $scope.socios.length; k++) {
                        if ($scope.socios[k].DNI === socioTemp.DNI && $scope.socios[k].Actividad === socioTemp.Actividad) {
                            msj.insertAdjacentHTML('beforeend', '<span style="color: red;"> El socio ya está registrado en esa actividad </span> <br>');
                            msj.style.display = 'block';
                            setTimeout(function () { msj.style.display = 'none'; }, 5000);
                            $scope.limpiar();
                            return;
                        }
                    }


                    socioTemp.Total = tot;
                    $scope.socios.push(socioTemp);

                    msj.innerHTML = '<span style="color: green;"> Se cargo con exito el socio ' + socioTemp.Apellido + '. El costo mensual de la Actividad será de $ ' + tot + '.</span>';
                    msj.style.display = 'block';

                    $http.get("http://localhost:8866/Registrar/?apellido=" + socioTemp.Apellido + "&dni=" + socioTemp.DNI + "&actividad=" + socioTemp.Actividad +
                        "&dias=" + socioTemp.Dias + "&costo=" + socioTemp.Costo + "&total=" + socioTemp.Total).then(
                            function (response) {
                                $scope.socios = response.data;
                                $scope.calcularTotalcito();
                            }
                        );

                    setTimeout(function () { msj.style.display = 'none'; }, 5000);
                    $scope.limpiar();
                }
            }

            $scope.limpiar = function () {
                $scope.ape = "";
                $scope.dni = "";
                $scope.actividad = "";
                $scope.dias = "";
                $scope.costo = "";
                document.getElementById("ape").style.backgroundColor = 'white';
                document.getElementById("dni").style.backgroundColor = 'white';
                document.getElementById("dias").style.backgroundColor = 'white';
                document.getElementById("costo").style.backgroundColor = 'white';
            }

            $scope.buscar = function () {
                if ($scope.busq === undefined || $scope.busq === "") {
                    $scope.listado();
                } else {
                    var cri = {criterio : ''}
                    cri.criterio = $scope.busq;
                    $http.post("http://localhost:8866/Buscar/", JSON.stringify(cri), {headers: {'Content-Type': 'application/json'} }).then(
                        function (response) {
                            if (response.data == "]\r\n") {
                                $scope.socios = null;
                            } else {
                                $scope.socios = response.data;
                                $scope.calcularTotalcito();
                            }
                        }
                    );
                }

            }

            $scope.ordenar = function (param) {
                if (param === 1) {
                    $scope.socios.sort(function (a, b) {
                        if (a.DNI > b.DNI) { return 1; }
                        if (a.DNI < b.DNI) { return -1; }
                        return 0;
                    });
                }
                if (param === 2) {
                    $scope.socios.sort(function (a, b) {
                        if (a.Apellido > b.Apellido) { return 1; }
                        if (a.Apellido < b.Apellido) { return -1; }
                        return 0;
                    });
                }
                if (param === 3) {
                    $scope.socios.sort(function (a, b) {
                        if (a.Actividad > b.Actividad) { return 1; }
                        if (a.Actividad < b.Actividad) { return -1; }
                        return 0;
                    });
                }
                if (param === 4) {
                    $scope.socios.sort(function (a, b) {
                        if (a.Dias > b.Dias) return 1;
                        else if (a.Dias < b.Dias) return -1;
                        return 0;
                    });
                }
                if (param === 5) {
                    $scope.socios.sort(function (a, b) {
                        if (a.Costo > b.Costo) return 1;
                        else if (a.Costo < b.Costo) return -1;
                        return 0;
                    });
                }
                if (param === 6) {
                    $scope.socios.sort(function (a, b) {
                        if (a.Total > b.Total) return 1;
                        else if (a.Total < b.Total) return -1;
                        return 0;
                    });
                }
            }

        });
    </script>

    <script>
        function esEntero(num) {
            if (num - Math.floor(num) === 0) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <title> Gimnasio Body </title>
</head>

<body style="color: #5B2C6F;" ng-app="Gym" ng-controller="controlador" ng-init="listado();">

    <div class="container bordes" style="padding-top: 10px; padding-bottom: 50px; height: auto">
        <div class="row">
            <div class="col-12 divcabe">
                <img src="logo.png" alt="..." height="40px" width="40px" style="vertical-align: -7px;">
                <span class="tit"> Gimnasio Body - S.R.L. - 'Cuerpo de Acero' </span>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-12 col-md-5 col-xl-3">

                <div class="row g-1">
                    <div class="bordes col-12 p-1" style="width: 100%; text-align: center;">
                        <span style="font-weight: 800; color: #5B2C6F;"> Registro de Socios y Actividades </span>
                    </div>
                    <div class="col-4 bordes p-1" style="text-align: center;">
                        <span style="vertical-align: middle;"> Apellido </span>
                    </div>
                    <div class="col bordes p-1" style="margin-left: 5px;">
                        <input class="inp" type="text" id="ape" ng-model="ape">
                    </div>
                </div>
                <div class="row g-1" style="margin-top: 2px;">
                    <div class="col-4 bordes p-1" style="text-align: center;">
                        <span style="vertical-align: middle;"> DNI </span>
                    </div>
                    <div class="col bordes p-1" style="margin-left: 5px;">
                        <input class="inp" type="text" id="dni" ng-model="dni">
                    </div>
                </div>
                <div class="row g-1" style="margin-top: 2px;">
                    <div class="col-4 bordes p-1" style="text-align: center;">
                        <span style="vertical-align: middle;"> Actividad </span>
                    </div>
                    <div class="col bordes p-1" style="margin-left: 5px;">
                        <select id="actividad" style="vertical-align: middle;" ng-model="actividad">
                            <option value="Musculacion"> Musculación </option>
                            <option value="Natacion"> Natación </option>
                            <option value="Aerobics"> Aerobics </option>
                            <option value="Pilates"> Pilates </option>
                            <option value="Crossfit"> Crossfit </option>
                            <option value="Deportes"> Deportes </option>
                        </select>
                    </div>
                </div>
                <div class="row g-1" style="margin-top: 2px;">
                    <div class="col-4 bordes p-1" style="text-align: center;">
                        <span style="vertical-align: middle;"> Días al mes </span>
                    </div>
                    <div class="col bordes p-1" style="margin-left: 5px;">
                        <input class="inp" type="number" id="dias" min="1" ng-model="dias">
                    </div>
                </div>
                <div class="row g-1" style="margin-top: 2px;">
                    <div class="col-4 bordes p-1" style="text-align: center;">
                        <span style="vertical-align: middle;"> Costo Diario </span>
                    </div>
                    <div class="col bordes p-1" style="margin-left: 5px;">
                        <input class="inp" type="number" id="costo" min="1" ng-model="costo">
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col p-1" style="text-align: center;">
                        <button class="button" ng-click="registrar()"> Registrar Datos </button>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col bordes p-1" style="display: none; text-align: center;" id="msj"> </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-7 col-xl-9" id="ppal">


                <span style="padding-right: 5px;"> Buscar por apellido o dni: </span>
                <input type="text" class="inp" ng-model="busq" ng-keyup="buscar();">

                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th scope="col" ng-click="ordenar(1);"> DNI </th>
                            <th scope="col" ng-click="ordenar(2);"> Apellido </th>
                            <th scope="col" ng-click="ordenar(3);"> Actividad </th>
                            <th scope="col" ng-click="ordenar(4);"> Días </th>
                            <th scope="col" ng-click="ordenar(5);"> Costo </th>
                            <th scope="col" ng-click="ordenar(6);"> Total </th>
                            <th scope="col" colspan="3"> Editar </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in socios track by $index">
                            <th scope="row"> {{s.DNI}} </th>
                            <td> {{s.Apellido}} </td>
                            <td> {{s.Actividad}} </td>
                            <td> {{s.Dias}} </td>
                            <td> {{s.Costo | currency}} </td>
                            <td> {{s.Total | currency}} </td>
                            <td> <button
                                    style="background-image: url(pencil-square.svg); border: none; width: 15px; height: 15px; background-color: white;"
                                    ng-click="edicion($index);"></button>
                            <td>
                            <td> <button
                                    style="background-image: url(person-x.svg); border: none; width: 16px; height: 15px; background-color: white;"
                                    ng-click="borrar($index);"></button> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="table-info">
                            <td colspan="5" style="text-align: end;"> Total: </td>
                            <td colspan="4"> {{ totalcito | currency }} </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>

    <!-- ----------------------------------------------------------------- Modales ----------------------------------------------------------------------------------- -->

    <div class="modal" id="modalcito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: red; font-weight: bold;"> Cuidado
                    </h5>
                    <button type="button" class="btn-close" ng-click="ocultar()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" id="adverten" style="text-align: center; align-items: center;">
                    <table style="text-align: center; width: 100%;">
                        <tr>
                            <td class="bordes"> Realmente quiere borrar la actividad <span id="a"> </span> del socio
                                <span id="s"> </span> ?
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="ocultar()" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="aceptar" ng-click="aceptar();">
                        Aceptar </button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="modalcito2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: plum; font-weight: bold;"> Editando
                        un Socio
                    </h5>
                    <button type="button" class="btn-close" ng-click="ocultar2()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" id="edit" style="text-align: center; align-items: center;">
                    <table style="text-align: center; width: 100%;">
                        <tr>
                            <td colspan="3" class="bordes"> Socio <span id="soc2"> </span></td>
                        </tr>
                        <tr>
                            <td class="bordes"> Días al mes </td>
                            <td class="bordes" colspan="2"> <input class="inp" type="number" id="tempDias" min="1"
                                    ng-model="tempDias" name="tempDias"> </td>
                        </tr>
                        <tr>
                            <td class="bordes"> Costo Diario </td>
                            <td class="bordes" colspan="2"> <input class="inp" type="number" id="tempCosto" min="1"
                                    ng-model="tempCosto" name="tempCosto"> </td>
                        </tr>
                        <tr>
                            <td colspan="3"> <button type="button" class="button" ng-click="verifi()"> Verificar
                                    Campos </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="bordes" id="msj2"> </td>
                        </tr>
                        <tr>
                            <td> <input type="number" name="tempTotal" ng-model="tempTotal" style="display: none;">
                            </td>
                            <td> <input type="number" name="tempDNI" ng-model="tempDNI" style="display: none;">
                            </td>
                            <td> <input type="text" name="tempActi" ng-model="tempActi" style="display: none;">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="ocultar2()" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="aceptar2" ng-click="aceptar2()" disabled>
                        Aceptar </button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>